.name-input{
    border: 10px black solid;
}

.name-input:hover{
    border-color: orange;
}

.name-submit-holder{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.instructions{
    border: 2px black solid;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 10px;
}

.landing-information-holder{
    background-color: black;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    height: 75vh;
    text-align:center;
    /* animation: slide-up 5s ease */
    
}

.landing-information{
    background-color:black;
    height: 100vh;
    color:white;
    /* padding:60px; */
    text-align:center;
}

.guide-image{
    height:300px;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

  


