

.flex-row{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    /* margin-bottom:25px; */
    flex-wrap:wrap;
    border-bottom: 10px black solid;
    padding:20px;
}

.flex-row:last-child, .flex-row:first-child{
    margin-bottom:0;

}

.flex-row > *{
    animation: slide-up 5s ease;

}
.summary-box{
    width:600px;
    /* margin-top:20px; */
}

.title-box, .summary-box, .date-box{
    margin-bottom:25px;
    border-radius:25px;
    background-color:white;
    font-size:20px;
    padding: 20px;
    text-align: center;
    border: 2px black;
    border-style: dotted dashed solid double;
    font-family: 'Kanit', sans-serif;

}

.title-box-legend, .date-box-legend, .summary-box-legend{
    border:5px black inset;
    font-size: x-large;
    font-weight:bold;
    border-radius:0;
    border-color:inherit;
}

.title-box{
    width:200px;
}

#nothing-found-text{
    color:white;
}

@media only screen and (max-width: 1000px) {
    .flex-row{
        display:block;
    }
    .hidden{
        display:none;
    }

    .summary-box{
        width:100%;
    }
  }


  @keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

  
